<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f2b07d">  <td>18/06/01 14:44:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TS_homepage.setUP()[pri:0, instance:com.Devopslabs.TS_homepage@6483f5ae]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11902257</td>   <td></td> </tr>
<tr bgcolor="f2b07d">  <td>18/06/01 14:45:02</td>   <td>8611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_homepage.TC_verifyHP()[pri:1, instance:com.Devopslabs.TS_homepage@6483f5ae]">TC_verifyHP</td> 
  <td>main@11902257</td>   <td></td> </tr>
<tr bgcolor="f57599">  <td>18/06/01 14:45:02</td>   <td>8695</td> <td title="&lt;&lt;testbase.closeBrowser()[pri:0, instance:Com.pageFactory.testbase@73d4cc9e]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11902257</td>   <td></td> </tr>
</table>
