<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eb8acf">  <td>18/05/11 17:04:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_homepage.TC_verifyHP()[pri:1, instance:com.Devopslabs.TS_homepage@4bb4de6a]">TC_verifyHP</td> 
  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="e888ab">  <td>18/05/11 17:04:10</td>   <td>289</td> <td title="&lt;&lt;testbase.closeBrowser()[pri:0, instance:com.Devopslabs.TS_homepage@4bb4de6a]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912011468</td>   <td></td> </tr>
<tr bgcolor="eb8acf">  <td>18/05/11 17:04:00</td>   <td>-10077</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TS_homepage.setUP()[pri:0, instance:com.Devopslabs.TS_homepage@4bb4de6a]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912011468</td>   <td></td> </tr>
</table>
